.marquee-section {
  background: #111827;
  overflow: hidden;
  padding: 18px 0;
  margin-top: -5px;
}

.marquee {
  width: 100%;
  overflow: hidden;
}

.marquee-content {
  display: flex;
  gap: 60px;
  width: max-content;

  animation: scroll 20s linear infinite;
}

.marquee-content span {
  color: white;
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
.about-content-section {
  padding: 80px 0;
  background: #fff;
}

.content-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.content-card {
  text-align: center;
}

.content-tag {
  display: inline-block;
  padding: 8px 18px;
  border: 1px solid #d9d9d9;
  border-radius: 999px;
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.content-card h2 {
  font-size: 46px;
  line-height: 1.2;
  color: #141b2d;
  margin-bottom: 24px;
  font-family: serif;
}

.content-card p {
  color: #666;
  line-height: 1.9;
  font-size: 16px;
  margin-bottom: 20px;
}

.feature-grid {
  margin-top: 35px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}

.feature-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-weight: 600;
  color: #141b2d;
}

.feature-item i {
  color: #f7941d;
  font-size: 18px;
}

@media (max-width: 768px) {
  .about-content-section {
    padding: 60px 0;
  }

  .content-card h2 {
    font-size: 32px;
  }

  .feature-grid {
    grid-template-columns: 1fr;
  }
}
