.practice-card {
  transition: all 0.35s ease;

  &:hover {
    transform: translateY(-8px);
    background: #f5efe8;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  }
}

:host ::ng-deep .practice-btn {
  background: #f7941d !important;
  border: none !important;
  border-radius: 999px !important;
  padding: 1rem 2rem !important;
  font-weight: 600 !important;
}

:host ::ng-deep .practice-btn:hover {
  background: #e68900 !important;
}
.banner-icon {
  font-size: 70px;
  color: #1c2434;

  animation: floatStar 3s ease-in-out infinite;
}

@keyframes floatStar {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0);
  }
}