

.gallery-banner {
  height: 120px;
  background: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-content h1 {
  font-size: 56px;
  font-family: Georgia, serif;
  color: #111827;
  margin-bottom: 12px;
}

.breadcrumb {
  font-size: 15px;
}



.video-section {
  padding: 60px 0;
  background: #f7f7f7;
}

.video-grid {
  max-width: 1100px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.video-card {
  position: relative;
  overflow: hidden;
  display: block;
}

.video-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  transition: .4s;
}

.video-card:hover img {
  transform: scale(1.05);
}

.play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 60px;
  height: 45px;
  border-radius: 12px;

  background: #ff0000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.play-btn i {
  color: white;
  font-size: 20px;
}



.cta-section {
  background: #d8d4ce;
  padding: 50px 20px;
  text-align: center;
}

.cta-content {
  max-width: 800px;
  margin: auto;
}

.cta-content h2 {
  color: rgb(12, 12, 12);
  font-size: 38px;
  line-height: 1.3;
  font-family: Georgia, serif;
}

.cta-content p {
  color: rgb(27, 27, 27);
  margin: 20px 0 35px;
}

.cta-form {
  display: flex;
  background: white;
  border-radius: 50px;
  overflow: hidden;
}

.cta-form input {
  flex: 1;
  border: none;
  padding: 18px 25px;
  outline: none;
}

.cta-form button {
  background: #998770;
  color: white;
  border: none;
  padding: 18px 30px;
  cursor: pointer;
  font-weight: 600;
}



@media(max-width: 992px){

  .video-grid{
    grid-template-columns: repeat(2,1fr);
  }

}

@media(max-width: 768px){

  .video-grid{
    grid-template-columns: 1fr;
  }

  .cta-content h2{
    font-size: 36px;
  }

  .cta-form{
    flex-direction: column;
    border-radius: 20px;
  }

}
.banner-icon {
  font-size: 70px;
  color: #1c2434;

  animation: floatStar 3s ease-in-out infinite;
}

@keyframes floatStar {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0);
  }
}