.content-text {
  color: #555;
  line-height: 2;
  font-size: 16px;
}

.image-box {
  img {
    transition: all 0.5s ease;
  }

  &:hover img {
    transform: scale(1.08);
  }
}

/* Large Animated Sparkle Icon */
.banner-icon {
  font-size: 70px;
  color: #1c2434;

  animation: floatStar 3s ease-in-out infinite;
}

@keyframes floatStar {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0);
  }
}